<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineShop.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=WIN-189S9SK9LL9\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=online_shop;charset=UTF8;collation=Cyrillic_General_CI_AS"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>